{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="https://www.tinymce.com/css/codepen.min.css">
{% endblock %}
{% block content %}

{% set pag_url=url_for('user.members', user_id=user.id) %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <h1>Welcome</h1>
        {% if current_user.id == user.id %}
            <a href="{{ url_for('articles.add_article')}}" class="btn btn-primary btn-large">Add new article</a>
        {% endif %}
        <h3>This is the page with you articles.</h3>
    </div>
</div>
{% include 'articles/articlesList.html' %}
{% endblock %}

